---
import AboutHeroImage from '../assets/blog-placeholder-3.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Referencias"
	description="Referencias utilizadas para la creación del proyecto"
	pubDate={new Date('December 01 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		A continuación se presentan las referencias utilizadas para la creación de este proyecto.
	</p>
	<ul>
	<li>
		Schneier, B. (2025, agosto). <i>AI and Trust.</i> Communications of the ACM, 68(8).
	</li>
	<li>
		Ceurstemont, S. (2025, setiembre). <i>AI for Senior Citizens.</i> Communications of the ACM, 68(9).
	</li>
	<li>
		Karlgren, J., & Sahlgren, M. (2025, octubre 6). <i>Culture, Language, and Generative Language Models.</i> ACM. <a href="https://cacm.acm.org/opinion/culture-language-and-generative-language-models/">https://cacm.acm.org/opinion/culture-language-and-generative-language-models/</a>
	</li>
	<li>
		Victor Dibia. (2025, noviembre 10). <i>AI Fatigue: Reflections on the Human Side of AI's Rapid Advancement.</i> Communications of the ACM. <a href="https://cacm.acm.org/opinion/ai-fatigue-reflections-on-the-human-side-of-ais-rapid-advancement/">https://cacm.acm.org/opinion/ai-fatigue-reflections-on-the-human-side-of-ais-rapid-advancement/</a>
	</li>
</ul>
</Layout>
